<div class="wrapper">
	<div class="sidebar">
		<img class="logo" src="../favicon.ico" />
		<ul>
			<li><a href="#"><i class="fas fa-th-list"></i>Overview</a></li>
			<li><a href="#"><i class="fas fa-user"></i>Messages</a></li>
			<li><a [routerLink]="['search']"><i class="fas fa-search"></i>Search</a></li>
			<li><a href="#"><i class="fa fa-filter"></i>Filter</a></li>
			<li><a href="#"><i class="fa fa-history"></i>History</a></li>
			<li><a href="#"><i class="fas fa-user"></i>My Account</a></li>
		</ul> 
		<div class="sidebar-footer">
			<li><a href="#"><i class="fas fa-comments"></i>Get Help</a></li>
			<li><a href="#"><i class="fa fa-sign-out"></i>Sign Out</a></li>
	</div>
	</div>
	<div class="main_content">		      
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>